h3 {
            font-family: Cascadia Code;
            font-style: italic;
            padding: 20px;
        }

        div.imagenes {
            display: block;
        }

        div.cont {
            justify-self: center;
            margin: 1cm;
        }

        .titulo{
            justify-self: center;
            margin: 1cm;
            font-family: Cascadia Code;
            font-weight: lighter;
            font-size: xx-large;
        }
        .badum {
            background-color: bisque;
            border-radius: 5px;
            border-width: 3px;
            border-style: solid;
            padding: 10px;
            font-family: Cascadia Code;
            font-size: large;
            transition: all 0.5s;
        }

        .badum:hover {
            transform: scale(2.0);
            background-color: red;
            color: aliceblue;
            border-color: aliceblue;
            cursor: pointer;
        }

        .cosa {
            border: 0;
            height: 10px;
            justify-content: center;
            width: 20%;
            background-image: linear-gradient(to left, pink, white);
        }

        .cosa2 {
            border: 0;
            height: 10px;
            margin-top: 1cm;
            justify-content: center;
            width: 20%;
            background-image: linear-gradient(to right, pink, white);
        }

        .lion {
            margin: 2cm;
            transition: all 1.0s;
        }

        .lion:hover {
            transform: scale(1.3);
        }

        div.clase {
            font-family: Cascadia Code;
            border-width: 2px;
            border-radius: 7px;
            border-color: pink;
            border-style: solid;
            padding: 10px;
            margin: 10px;
            background-image: linear-gradient(to left, pink, white);
        }

        .menu {
            border-radius: 10px;
            border-style: solid;
            border-color: pink;
            display: block;
            font-family: Cascadia Code;
            padding: 1cm;
        }

        .linksMenu1 {
            font-weight: bold;
            font-size: larger;
            text-decoration: none;
            color: black;
            border: 3px;
            border-color: black;
            border-style: solid;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.25s;
        }

        .linksMenu2 {
            font-weight: bold;
            font-size: larger;
            text-decoration: none;
            color: black;
            border: 3px;
            border-color: black;
            border-style: solid;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.25s;
        }

        .linksMenu1:hover {
            transform: scale(1.2);
            color: brown;
            border-color: brown;
        }

         .linksMenu2:hover {
            transform: scale(1.2);
            color: brown;
            border-color: brown;
        }

        table {
            border: solid 2px black;
            padding: 12px;
            border-radius: 7px;
            text-align: center;
        }

        .submit {
            padding: 15px;
            border: 2px solid black;
            border-radius: 7px;
            font-family: Cascadia Code;
            background-color: black;
            color: greenyellow;
            transition: all 0.5s;
            font-size: large;
            margin: 5px;
        }

        .reset {
            padding: 15px;
            border: 2px solid black;
            border-radius: 7px;
            font-family: Cascadia Code;
            background-color: black;
            color: cyan;
            transition: all 0.5s;
            font-size: large;
            margin: 5px;
        }

        .submit:hover {
           transform: scale(1.1);
           background-color: greenyellow;
           color: black;
           cursor: pointer;
        }

        .reset:hover {
            transform: scale(1.1);
            background-color: cyan;
            color: black;
            cursor: pointer;
        }

        .form  {
            font-size: large;
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px;
        }

        .tituloForm{
            justify-self: center;
            margin: 1cm;
            font-family: Cascadia Code;
            font-weight: lighter;
            font-size: xx-large;
            transition: all 0.3s;
        }

        .tituloForm:hover {
            transform: scale(1.02);
            color: white;
            background-color: rgb(175, 175, 175);;
        }

        button > a {
            text-decoration: none;
            color: black
        }

        button > a:hover {
            text-decoration: none;
            color: white
        }